<link href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" rel="stylesheet"
  id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <!--Import materialize.css-->
  <link rel="stylesheet" href="node_modules\materialize-css\dist\css\materialize.min.css">
  <!-- Estilos propios -->
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <!--

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Login</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>
-->

  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2 m6 offset-m3">
        <div class="card center-align">
          <div class="card-image">
            <img class="activator"
              src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/vfPFP3W/raffle-or-lottery-ticket-stub-pile-2-colors_7kqkscm5__F0001.png">
          </div>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#test4">Login</a></li>
            <li class="tab"><a href="#test6">Signin</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test4">
            <div class="row">
              <form action="" method="post">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input placeholder="user name" id="email" name="email" type="text" class="validate"> --
                  <label for="email"></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">vpn_key</i>
                  <input placeholder="password" id="password" name="password" type="text" class="validate">--
                  <label for="password"></label>
                </div>
                <div>
                  <form action="/login" method="POST">
                    <button type="submit" class="waves-effect waves-light btn red"><i
                        class="material-icons right">arrow_forward</i>Submit</button>
                  </form>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Culero</h5>
          <p class="grey-text text-lighten-4"></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Su Madre
        <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>
-->

</body>
<script src="node_modules\jquery\dist\jquery.min.js"></script>
<script src="node_modules\materialize-css\dist\js\materialize.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script>
  $(document).ready(function () {
    $('.tabs').tabs();
  });         
</script>