<h1>Create client</h1>
<a class="button is-primary " href="/admin">Admin Panel</a>
<br>
<hr>
<div class="ticket-box ">
  <form action="create-client" method="POST">
    <br>
    <h3>
      <label>Name</label>
      <input type="text" name="name" class="input" />
    </h3>
    <h3>
      <label>Email</label>
      <input type="email" name="email" class="input" />
    </h3>
    <h3>
      <label>Password</label>
      <input type="password" name="password" class="input" />
    </h3>
    <br>
    <h3>
      <label>Role</label>
      <select name="status" id="" class="select">
        <option value="Standard">Standard</option>
        <option value="Pro">Pro</option>
      </select>
    </h3>
    <br>
    <h3>
      <label>Company</label>
      <input type="text" name="company" class="input" />
    </h3>
    <br>
    <p>
      <input type="submit" value="Submit" class="button is-primary" />
    </p>
    <br>
  </form>
</div>