<h1>Admin Panel</h1>

<a href="/admin/create-user">
  <input class="button is-primary" type="submit" value="Create User">
</a>

<a href="/admin/create-client">
  <input class="button is-primary" type="submit" value="Create Client">
</a>

<hr>


<div>
  <h2>Users</h2>
  <br>
  <div id="users" class="users-grid">
    {{#each users as |user| }}
    <div>
      <h3>Name: {{user.name}}</h3>
      <a href="/admin/users/{{user._id}}">
        <input class="button is-primary" type="submit" value="Delete User">
      </a>
    </div>
    <br>
    {{/each}}
  </div>
</div>

<br>
<hr>

<div>
  <h2>Clients</h2>
  <br>
  <div id="clients" class="users-grid">
    {{#each clients as |client| }}
    <div>
      <h3>Name: {{client.name}}</h3>
      <a href="/admin/clients/{{client._id}}">
        <input class="button is-primary" type="submit" value="Delete Client">
      </a>
    </div>
    <br>
    {{/each}}
  </div>
</div>