<h2>Detail View</h2>
<br>

<a class="button is-primary " href="/tickets/create-ticket">Create Ticket</a>

<a class="button is-primary " href="/client">My Tickets</a>

<hr>

<h3>Title: {{this.title}}</h3><br>
<p> <strong>Status: {{this.status}}</strong></p><br>
<p><strong>Description:</strong> {{this.description}}</p>

<hr>