<h2>Create new Ticket</h2>
<br>
<form action="/tickets" method="POST" class="ticket-box ">
  <br>
  <div class="field">
    <h3>
      <label>Title</label>
      <input type="text" name="title" class="input" />
    </h3>
  </div>
  <br>
  <div class="field">
    <h3>
      <label>Area</label>
      <input type="text" name="area" class="input" />
    </h3>
  </div>
  <br>
  <div class="field">
    <h3>
      <label>Description</label>
      <textarea name="description" class="input"></textarea>
    </h3>
  </div>
  <br>
  <div class="field">
    <h3>
      <label>Status</label>
      <select class="select" name="status" id="">
        <option value="Open">Open</option>
        <option value="Pending">Pending</option>
        <option value="Close">Close</option>
      </select>
    </h3>
  </div>
  <br>
  <p>
    <input class="button is-primary" type="submit" value="Submit">
  </p>

</form>