<h1>Vista de Detalle</h1>
<p>{{this.title}}</p>
<p>{{this.status}}</p>
<p>{{this.description}}</p>

<form action="/user/tickets/{{this._id}}" method="POST" id="details">
<label>Status</label>
<select name="status" form="details">
<option value="Open" >Open</option>
<option value="Pending" >Pending</option>
<option value="Closed" >Closed</option>
<br />
</select>
<p>
    <input type="submit" value="Enviar">
</p>


</form> 