<h1>Details View</h1>
<br>
<a class="button is-primary " href="/tickets/create-ticket">Create Ticket</a>
<br>
<hr>

<div class="ticket-box ">
  <h3>{{this.title}} > Status: {{this.status}} </h3> <br>
  <p><strong>Description:</strong> {{this.description}}</p> <br>

  <form action="/user/tickets/{{this._id}}" method="POST" id="details">
    <label><strong>Cambiar Status: </strong></label>
    <select class="select" name="status" form="details">
      <option value="Open">Open</option>
      <option value="Pending">Pending</option>
      <option value="Closed">Closed</option>
    </select>
    <p><br>
      <input class="button is-primary" type="submit" value="Reply">

      <input class="button is-primary" type="submit" value="Submit">
    </p>

  </form>
</div>