<h2>Create new Ticket</h2>

<form action="/tickets" method="POST">
  <p>
    <label>Titulo</label>
    <input type="text" name="title" />
  </p>
  <p>
    <label>Area</label>
    <input type="text" name="area" />
  </p>
  <p>
    <label>Description</label>
    <textarea name="description"></textarea>
  </p>

  <p>
    <label>Status</label>
    <select name="status" id="">
      <option value="Open">Open</option>
      <option value="Close">Close</option>
    </select>
  </p>
  <p>
    <label>Sector</label>
    <select name="sector" id="">
      <option value="area1">Area 1</option>
      <option value="area2">Area 2</option>
      <option value="area3">Area 3</option>
      <option value="area4">Area 4</option>
    </select>
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>

</form>