<h1>Client tickets</h1>

<a class="button is-primary " href="/tickets/create-ticket">Create Ticket</a>

<a class="button is-primary " href="/client">My Tickets</a>



<div id="tickets">

  {{#each tickets as |ticket| }}
  <hr>
  <div class="ticket-box">
    <h3>{{ticket.title}} <span class="separator">///</span> Status: {{ticket.status}} </h3> <br>
    <p><strong>Description:</strong> {{ticket.description}}</p><br>
    <a class="button is-primary" href="/tickets/{{ticket._id}}">Enter</a>
  </div>
  <hr>
  {{/each}}

</div>