<h2>Client tickets</h2>

<a class="button is-primary " href="/tickets/create-ticket">Create Ticket</a>

<a class="button is-primary " href="/client">My Tickets</a>



<div id="tickets">

  {{#each tickets as |ticket| }}
  <hr>
  <h3>{{ticket.title}} | Status: {{ticket.status}} </h3> <br>
  <p>{{ticket.description}}</p><br>
  <a class="button is-primary" href="/tickets/{{ticket._id}}">Entrar</a>
  <hr>
  {{/each}}

</div>