<h1>About</h1>
<br>
<div class="aboutus">
  <p>TicketDesk is a Company funded in 2019, by Ahui Vargas and Jairo Garcia, based in Mexico City, they studied in
    <strong>IronHack Mexico</strong>, where they met and started the idea, it was to give an easy solution for a common
    problem for any kind of companies, having an affordable price. </p>
  <br>
  <p align="center"><img src="/images/ticketdesk-logo-complete.png" alt=""></p>
  <br>
  <p>The system is flexible and easy to use, the main idea was simplify the support system and give a direct solution.
  </p>
  <br>
  <p align="center"><img src="/images/ticket-desk-ticketing.png" alt=""></p>
  <br>
</div>