<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>TicketDesk</title>
</head>

<body>

  <h2>Simple & Quick response time for different kind of problems</h2><br />

  <div style="text-align: center" class="image-login">
    <img src="/images/ticket-desk-ticketing.png" alt="">
  </div>

  <h2>Contact us for more solutions.</h2><br />
  <br>
  <hr>

  <div class="separator-1"></div>

  <section class="advantages">
    <div class="col-1">
      <i class="fab fa-simplybuilt iconlogin"></i><br>
      <span class="subsec"><br>Simple</span><br>
      <p><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quaerat ex quibusdam! Sequi dolor,
        dolores,
        quia totam fugit tempora nesciunt rerum minus ad repellendus animi officia vitae praesentium. Eligendi.</p>
    </div>
    <div class="col-1">
      <i class="fas fa-tachometer-alt iconlogin"></i><br>
      <span class="subsec"><br>Quick</span><br>
      <p><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam atque aperiam quam odio, explicabo, nesciunt
        enim illo fugit, voluptatum perferendis consequatur beatae accusantium possimus maiores. Consequatur laborum
        facilis</p>
    </div>
    <div class="col-1">
      <i class="fas fa-hand-holding-usd iconlogin"></i></i><br>
      <span class="subsec"><br>Affordable</span>
      <p><br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos pariatur neque nobis veniam facilis
        architecto
        ex obcaecati veritatis error praesentium eveniet asperiores optio, a fugit eum minima omnis beatae quasi.</p>
    </div>
  </section>
  <br><br>
</body>

</html>